@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');
// Reference: https://codepen.io/gillescastel/pen/qRxZQa
* {
  margin: 0;
  padding: 0;
}

body {
  font: normal 18px 'Open Sans', sans-serif;
  background: #fafafa;
  color: #333;
}

main {
  min-height: 100vh;
}

header {
  padding-top: 10px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font: normal 4em 'Playfair Display SC', serif;
  text-align:center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

nav {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
    text-align: center;
    padding: 1em;
    position: relative;
    // animmation
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right:0;
      height: 2px;
      transform: scaleX(0);
      background: #00aaff;
      transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
    }
    &:hover::after{
      transform: scaleX(1)
    }
    
    &.router-link-exact-active::after {
      background: #1c8ac1;
      transform: scaleX(1)
    }
  }
}